body {
    font-family: Arial, sans-serif;
    background-color: rgb(220, 196, 221);
    padding: 0;
}

.login-form {
    width: 100%;
    max-width: 500px;
    margin: 300px auto;
    background-color: rgb(228, 166, 217);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.btn-home {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    background-color: #850fc9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

#button,
.btn-home {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#button:hover,
.btn-home:hover {
    background-color: #dc12f7;
    color: white;
}

.googleSignin {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #850fc9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.googleSignin:hover {
    background-color: #dc12f7;
}

.text-login {
    text-align: center;
}

.inputEmail {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;

}
.inputPassword{
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;

}
.bottom-text {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}