<!-- FILEPATH: /c:/Users/USER/Desktop/Software Architechture & Design/account.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Account Details</title>
    <link rel="stylesheet" type="text/css" href="account.css" />
  </head>
  <body>
    <div class="container">
      <h1>Register an account</h1>
      <form>
        <div class="field">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter uername" name="Username" required>
      </div>
        <div class="field">
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter password" name="Password" required>
      </div>
        <div class="field">
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat password" name="psw-repeat" required>
      </div>
        <div class="field">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter email" name=Email" required>
      </div>
        <a href="#" class="button">Register</a>
        <a href="main.html" class="button">Return home</a>
      </form>
    </div>
  </body>
</html>
