<!-- FILEPATH: c:\Users\USER\Desktop\Software Architechture & Design\login.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <form class="login-form">
        <h1>Login</h1>
        <div class="bottom-text">
            <button class="googleSignin" onClick="signInGoogle()">
                Sign in with Google
            </button>
        </div>

        <div class="bottom-text">
            <a class="btn-home" href="{{ url_for('main') }}">
                Back to Home
            </a>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>
    
</body>

</html>