<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userDetail.css') }}">
</head>

<body>
    <nav>
        <button class="logout" onClick="logOut()">
            Log out
        </button>
        <button class="logout" onClick="returnHomepage()">
            Back to home page
        </button>
    </nav>
    <h1>Welcome</h1>
    <h2 id="name">Name: </h2>
    <img id="image" />
    <h1 id="sub">Sub number: </h1>
    <div class="btm-text">
    </div>

    <script src ="{{url_for('static', filename = 'js/script.js')}}"></script>
    <script>
        var homeBtn = "{{ url_for('main') }}";
        var logout = "{{ url_for('login') }}";
    </script>
    <div class="app">
        <div class="heading">
          <h1>File Upload Preview</h1>
          <p>Upload a file to continue.</p>
        </div>
  
        <div class="preview">
          <div>
             <img src="{{ url_for('static', filename='assets/img/about/1.jpg') }}" alt="" class="preview-image" /> 
          </div>
          <p> <span class="preview-description">File Name.extension</span> - <span class="preview-size">File Size</span></p>
        </div>
  
        <div class="button_section">
            <form id="myForm" enctype = "multipart/form-data">
                <label for="input1">Upload file &nbsp; <i class="fa fa-upload"></i></label>
                <input type="file" name="file" id="input1" accept=".doc, .docx"/>
                <input type="submit" value="Submit">
              </form>
              <button class="clear_button"><span>Clear</span><i class="fa fa-trash"></i></button>
              <!-- <a href = "{{ url_for('download') }}">Check Upload Files</a> -->
              <button onclick="checkFile()">Check Upload Files</button>
              <h1></h1>
            </div>
          </form>
        </div>
      </div>
       
      <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.6.0/mammoth.browser.min.js"></script>
      <script>
        var imageUrl = "{{ url_for('static', filename='assets/img/about/1.jpg') }}";
        var imageUrl2 = "{{ url_for('static', filename='assets/img/about/2.jpg') }}";
    </script>
  
</body>

</html>