<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userDetail.css') }}">
</head>

<body>
    <nav>
        <button class="logout" onClick="logOut()">
            Log out
        </button>
        <button class="logout" onClick="returnHomepage()">
            Back to home page
        </button>
    </nav>
    <h1>Welcome</h1>
    <h2 id="name">Name: </h2>
    <img id="image" />
    <div class="btm-text">
    </div>

    <script src ="{{url_for('static', filename = 'js/script.js')}}"></script>
    <script>
        var homeBtn = "{{ url_for('main') }}";
        var logout = "{{ url_for('login') }}";
    </script>

</body>

</html>